<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <header>
	<a href="/home"><img src="images/logowhite.png" alt=""></a>
    <a id="filter" href="/filter"><img src="images/icon_filter1.png" alt=""></a>    
    </header>

    <%- include('includes/nav'); -%>

    <main class="profile">
        <h1>Find your match</h1>
        <section class="match">
            <section class="profile-nav">
                <a href="#" class="animalbutton"><img src="/images/icon_animal.png" alt=""></a>
            </section>
           
            <% if(match) {%>
                <section class="profile-animal">
                    <img src="images/<%=match.url %>" alt="">
                    <h2><%= match.name %></h2>
                    <h3><%= match.age %> years old</h3>
                    <p><%= match.type %></p>  
                    <p><%= match.breed %></p>  
                    <p><%= match.bio%></p>        
                </section>
                <form action="/discover" method="post">
                    <input class="matchid" type="text" name="matchid" value="<%= match._id %>">
                    <% if(matchType) { %>
                        <input class="matchid" type="text" name="matchType" value="<%= matchType %>">
                    <% } %>
                    <button type="submit"><img src="images/dislike.png" alt=""></button>
                    <button type="submit"><img src="images/like.png" alt=""></button>
                </form>
                <% } else{ %> 
                    Er zijn geen matches meer... :(
                <% } %>
        </section>
    </main>
    <script src="js/discoverscript.js"></script>
</body>

</html>