<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); -%>
</head>

<body>
    <header>
        <a href="/home"><img src="images/logowhite.png" alt=""></a>
        <a id="filter" href="/filter"><img src="images/icon_filter1.png" alt=""></a>
    </header>

    <%- include('includes/nav'); -%>

    <main class="profile">
        <h1>Find your match</h1>
        <section class="match">

            <% if(match) {%>
            <section class="profile-animal">
                <img src="images/<%=match.url %>" alt="">
                <h2><%= match.name %></h2>
                <h3><%= match.age %> years old</h3>
                <p><%= match.type %></p>
                <p><%= match.breed %></p>
                <p><%= match.bio%></p>
            </section>
            <form action="/discover" method="post">
                <input class="matchid" type="text" name="matchid" value="<%= match._id %>">
                <% if(matchType) { %>
                <input class="matchid" type="text" name="matchType" value="<%= matchType %>">
                <% } %>
                <button type="submit"></button>
                <button type="submit"></button>
            </form>
            <% } else{ %>
            <h4> Er zijn geen matches meer... :(</h2>
                <% } %>
        </section>
    </main>

</body>

</html>